{% extends 'base.html' %}
{% block title %}Panier{% endblock %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">Votre panier</h1>
{% if produits %}
<table class="w-full border">
    <thead class="bg-gray-200">
        <tr>
            <th class="p-2">Produit</th>
            <th class="p-2">Quantité</th>
            <th class="p-2">Prix</th>
            <th class="p-2">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in produits %}
        <tr class="border-t">
            <td class="p-2">{{ produit.name }}</td>
            <td class="p-2">{{ produit.qty }}</td>
            <td class="p-2">{{ produit.price }} Fcfa</td>
            <td class="p-2">{{ produit.total }} Fcfa</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<p class="mt-4 text-xl font-bold">Total : {{ total }} Fcfa</p>
{% else %}
<p>Votre panier est vide.</p>

{% endif %}
{% endblock %}
